@use 'styles/tokens';
@use 'styles/reset';
@use 'styles/buttons';

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
}

a {
  color: var(--color-primary);
}
